.container {
	display: flex;
	gap: 8px;
}

.button {
	width: 20px;
	height: 20px;

	display: flex;
	align-items: center;
	justify-content: center;

	color: white;

	background-color: #ff5500;
	border-radius: 4px;
	user-select: none;
}

.button_disabled {
	background-color: #ffa375;
}

.button:hover {
	background-color: #e94e00;
}
