.filter {
	width: 360px;
	height: 40px;

	padding: 10px 16px;

	font-size: 14px;
	line-height: 20px;

	border: #999fa6 solid 1px;
	outline: none;
	background-color: #fff;
	border-radius: 8px;
}

.filter:focus {
	border: #ff5500 solid 1px;
}

.filters {
	position: sticky;
	top: 110px;

	height: calc(100vh - 86px - 67px - 24px - 24px);

	display: flex;
	flex-direction: column;
	gap: 20px;

	padding: 24px;

	background-color: #fff;
	border-radius: 8px;
}
.filters-title {
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
}
.filter-title {
	font-size: 14px;
	line-height: 20px;
}
.filter-list {
	display: flex;
	flex-direction: column;
	gap: 16px;

	list-style: none;
}
.filter-item {
	display: flex;
	flex-direction: column;
	gap: 4px;

	list-style: none;
}
